# pyenv, autoenv 사용시 자동 activate
pyenv activate projectname

# local, production 환경별로 settings module 지정.
# 지정하지 않으면 `--settings=`로 직접 입력 가능.
DJANGO_SETTINGS_MODULE='config.settings.local'

# secret key, psql 정보 입력
# [django secret key generator](http://www.miniwebtool.com/django-secret-key-generator/)에 들어가서 새로운 secret key를 generate 한 후 env에 넣어준다.
DJANGO_SECRET_KEY=''
POSTGRES_NAME=''
POSTGRES_USER=''
POSTGRES_PASSWORD=''
DJANGO_ALLOWED_HOSTS=['*']

# 나머지 세팅들은 필요할 때 사용

# AWS Settings
# DJANGO_AWS_ACCESS_KEY_ID=
# DJANGO_AWS_SECRET_ACCESS_KEY=
# DJANGO_AWS_STORAGE_BUCKET_NAME=

# DJANGO_ADMIN_URL=
